.dbtfy-customizable-products__block {
  margin: 1.5rem 0;
  display: block;
}

.error-message {
  display: none;
}

.dbtfy-customizable-products__block .checkbox label {
  color: rgb(var(--color-foreground));
}
